Options -Indexes
<IfModule mod_authz_core.c>
  <FilesMatch "(?i)\.(php[0-9]?|phtml|phar|cgi|pl|py|sh|html?)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "(?i)\.(php[0-9]?|phtml|phar|cgi|pl|py|sh|html?)$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>
